<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HSS3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />

  <startup useLegacyV2RuntimeActivationPolicy="true">  
    <supportedRuntime version="v4.0"/></startup>
    <applicationSettings>
        <HSS3.Properties.Settings>
            <setting name="instPath" serializeAs="String">
                <value>c:\FKDL3\</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PC" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EXE" serializeAs="String">
                <value>EXE\</value>
            </setting>
            <setting name="FMT" serializeAs="String">
                <value>FMT\</value>
            </setting>
            <setting name="NG" serializeAs="String">
                <value>NG\</value>
            </setting>
            <setting name="MDB" serializeAs="String">
                <value>MDB\</value>
            </setting>
            <setting name="XLS" serializeAs="String">
                <value>XLS\</value>
            </setting>
            <setting name="READ" serializeAs="String">
                <value>OCRREAD\</value>
            </setting>
            <setting name="OK" serializeAs="String">
                <value>OK\</value>
            </setting>
            <setting name="TRAY" serializeAs="String">
                <value>OCRREAD\</value>
            </setting>
            <setting name="TIF" serializeAs="String">
                <value>c:\FKDL3\OCRデータバックアップ\</value>
            </setting>
            <setting name="DAT" serializeAs="String">
                <value>c:\FKDL3\受け渡しデータ\</value>
            </setting>
            <setting name="BKDELS" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="BKDELP" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BUGYODB" serializeAs="String">
                <value />
            </setting>
            <setting name="DsnPath" serializeAs="String">
                <value>接続設定.dsn</value>
            </setting>
            <setting name="RekiHosei" serializeAs="String">
                <value>1988</value>
            </setting>
            <setting name="ExcelFile" serializeAs="String">
                <value>勤務表シート2017.xlsx</value>
            </setting>
            <setting name="fmtFile" serializeAs="String">
                <value>HSS3.fmt</value>
            </setting>
            <setting name="readPath" serializeAs="String">
                <value>READ\</value>
            </setting>
            <setting name="sqlServerName" serializeAs="String">
                <value>YMGW-PC\OBCINSTANCE3X</value>
            </setting>
            <setting name="sqlUID" serializeAs="String">
                <value>fkdl</value>
            </setting>
            <setting name="sqlPWD" serializeAs="String">
                <value>sqlPass</value>
            </setting>
            <setting name="sqlCurrentDB" serializeAs="String">
                <value>obc3sresource</value>
            </setting>
            <setting name="card82" serializeAs="String">
                <value>八十二カード</value>
            </setting>
        </HSS3.Properties.Settings>
    </applicationSettings>
</configuration>